In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("grf21_lea_zcta5ce20.csv")
display(df)

,LEAID,NAME_LEA21,ZCTA5CE20,COUNT,LANDAREA,WATERAREA
0,100001,Fort Rucker School District,0,4,38.768437,1.038161
1,100090,Anniston City School District,0,7,3.851023,0.013616
2,100270,Baldwin County School District,0,24,131.184301,358.000989
3,100360,Bibb County School District,0,12,35.795340,0.004291
4,100540,Calhoun County School District,0,14,63.066080,0.164629
...,...,...,...,...,...,...
83209,200450,Klawock City School District,99925,2,0.680814,0.291506
83210,200700,Southeast Island School District,99925,12,52.945643,8.531504
83211,200525,Annette Island School District,99926,2,132.797753,128.869808
83212,200700,Southeast Island School District,99927,12,4.679345,2.613793
83213,200810,Wrangell School District,99929,3,2413.546818,331.190910

In [2]:
school_district_zip_code = df[['NAME_LEA21','ZCTA5CE20']]
display(school_district_zip_code)

                             NAME_LEA21  ZCTA5CE20
0           Fort Rucker School District          0
1         Anniston City School District          0
2        Baldwin County School District          0
3           Bibb County School District          0
4        Calhoun County School District          0
...                                 ...        ...
83209      Klawock City School District      99925
83210  Southeast Island School District      99925
83211    Annette Island School District      99926
83212  Southeast Island School District      99927
83213          Wrangell School District      99929

[83214 rows x 2 columns]

In [3]:
school_district_zip_code = school_district_zip_code.rename(columns={'NAME_LEA21':'School District Name'})
school_district_zip_code = school_district_zip_code.rename(columns={'ZCTA5CE20':'ZipCode'})
display(school_district_zip_code)

                   School District Name  ZipCode
0           Fort Rucker School District        0
1         Anniston City School District        0
2        Baldwin County School District        0
3           Bibb County School District        0
4        Calhoun County School District        0
...                                 ...      ...
83209      Klawock City School District    99925
83210  Southeast Island School District    99925
83211    Annette Island School District    99926
83212  Southeast Island School District    99927
83213          Wrangell School District    99929

[83214 rows x 2 columns]

In [4]:
school_district_zip_code = school_district_zip_code[school_district_zip_code['ZipCode'].between(10001, 14905)]
display(school_district_zip_code)

                         School District Name  ZipCode
6819    New York City Department Of Education    10001
6820    New York City Department Of Education    10002
6821    New York City Department Of Education    10003
6822    New York City Department Of Education    10004
6823    New York City Department Of Education    10005
...                                       ...      ...
11250  Elmira Heights Central School District    14903
11251      Horseheads Central School District    14903
11252             Elmira City School District    14904
11253             Elmira City School District    14905
11254  Elmira Heights Central School District    14905

[4436 rows x 2 columns]

In [5]:
school_district_zip_code.drop_duplicates(subset=['ZipCode','School District Name'], keep=False)

                         School District Name  ZipCode
6819    New York City Department Of Education    10001
6820    New York City Department Of Education    10002
6821    New York City Department Of Education    10003
6822    New York City Department Of Education    10004
6823    New York City Department Of Education    10005
...                                       ...      ...
11250  Elmira Heights Central School District    14903
11251      Horseheads Central School District    14903
11252             Elmira City School District    14904
11253             Elmira City School District    14905
11254  Elmira Heights Central School District    14905

[4436 rows x 2 columns]

In [6]:
school_district_zip_code = school_district_zip_code.set_index('ZipCode')
display(school_district_zip_code)

                           School District Name
ZipCode
10001     New York City Department Of Education
10002     New York City Department Of Education
10003     New York City Department Of Education
10004     New York City Department Of Education
10005     New York City Department Of Education
...                                         ...
14903    Elmira Heights Central School District
14903        Horseheads Central School District
14904               Elmira City School District
14905               Elmira City School District
14905    Elmira Heights Central School District

[4436 rows x 1 columns]

In [8]:
school_district_zip_code.to_csv('school_district_zip_code.csv')