In [1]:
import pandas as pd
import numpy as np
# from sklearn.impute import SimpleImputer

In [2]:
# Storing the file path in 'loc' variable
loc = (r"C:\Users\Minet\Documents\Repositories\Dev10_Final_Project\Datasets\districtdatafinal.csv")
# Importing the file from the file path contained in 'loc' into 'df' 
df = pd.read_csv(loc)
# Showing the first 5 rows of 'df'
df.head()

,DistrictName,GraduationPercentageRate,DropoutPercentageRate,FundingPerStudent,TotalEnrolled,MalesEnrolled,FemalesEnrolled,Percentage of Minority Students,HouseholdIncome,FederallyFunded
0,YORKTOWN CSD,97.0,1.0,24424.21,3401.0,1775.0,1626.0,27.8,115881.16,No
1,CARMEL CSD,92.0,3.0,27298.65,3979.0,2034.0,1945.0,37.6,110606.50,No
2,CARTHAGE CSD,89.0,5.0,17149.15,3065.0,1602.0,1463.0,25.9,53290.64,Yes
3,CASSADAGA VALLEY CSD,88.0,7.0,20862.54,799.0,422.0,377.0,6.0,55387.63,NaN
4,CATO-MERIDIAN CSD,89.0,5.0,18088.09,860.0,449.0,411.0,8.1,64765.75,NaN

In [3]:
# create new dataframe
df = df[['GraduationPercentageRate','HouseholdIncome','FundingPerStudent', 'DropoutPercentageRate', 'Percentage of Minority Students', 'DistrictName']]
df.head()

,GraduationPercentageRate,HouseholdIncome,FundingPerStudent,DropoutPercentageRate,Percentage of Minority Students,DistrictName
0,97.0,115881.16,24424.21,1.0,27.8,YORKTOWN CSD
1,92.0,110606.50,27298.65,3.0,37.6,CARMEL CSD
2,89.0,53290.64,17149.15,5.0,25.9,CARTHAGE CSD
3,88.0,55387.63,20862.54,7.0,6.0,CASSADAGA VALLEY CSD
4,89.0,64765.75,18088.09,5.0,8.1,CATO-MERIDIAN CSD

In [5]:
# remove dashes and zero values
df = df[df.DropoutPercentageRate != '—']
df = df[df.GraduationPercentageRate != '—']
df = df[df.GraduationPercentageRate != '0']

In [6]:
print(df.isnull().sum())

GraduationPercentageRate            0
HouseholdIncome                    37
FundingPerStudent                   0
DropoutPercentageRate               0
Percentage of Minority Students     0
DistrictName                        0
dtype: int64

In [7]:
# drop rows with empty values
df = df.dropna()
df.head(13)

,GraduationPercentageRate,HouseholdIncome,FundingPerStudent,DropoutPercentageRate,Percentage of Minority Students,DistrictName
0,97.0,115881.16,24424.21,1.0,27.8,YORKTOWN CSD
1,92.0,110606.50,27298.65,3.0,37.6,CARMEL CSD
2,89.0,53290.64,17149.15,5.0,25.9,CARTHAGE CSD
3,88.0,55387.63,20862.54,7.0,6.0,CASSADAGA VALLEY CSD
4,89.0,64765.75,18088.09,5.0,8.1,CATO-MERIDIAN CSD
5,91.0,58658.83,24088.35,4.0,32.9,CATSKILL CSD
6,93.0,52411.00,19362.54,4.0,6.9,CATTARAUGUS-LITTLE VALLEY CSD
7,94.0,69543.88,17708.25,2.0,6.0,CAZENOVIA CSD
8,93.0,99102.00,24593.36,1.0,26.8,CENTER MORICHES UFSD
9,88.0,101402.40,21656.92,1.0,96.1,CENTRAL ISLIP UFSD
10,87.0,67685.73,17310.54,8.0,6.1,CENTRAL SQUARE CSD
12,99.0,171975.00,29069.23,0.0,25.9,CHAPPAQUA CSD
13,97.0,56603.80,20495.72,3.0,1.3,CHATEAUGAY CSD

In [8]:
print(df.isnull().sum())

GraduationPercentageRate           0
HouseholdIncome                    0
FundingPerStudent                  0
DropoutPercentageRate              0
Percentage of Minority Students    0
DistrictName                       0
dtype: int64

In [9]:
# write the dataframe to a csv file
df.to_csv(r"C:\Users\Minet\Documents\Repositories\Dev10_Final_Project\Datasets\AltMLModelDatasetPowerBI.csv")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 677 entries, 0 to 713
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   GraduationPercentageRate         677 non-null    float64
 1   HouseholdIncome                  677 non-null    float64
 2   FundingPerStudent                677 non-null    float64
 3   DropoutPercentageRate            677 non-null    float64
 4   Percentage of Minority Students  677 non-null    float64
 5   DistrictName                     677 non-null    object
dtypes: float64(5), object(1)
memory usage: 37.0+ KB