In [1]:
import pandas as pd

In [2]:
districts = pd.read_csv('../Datasets/FederallyFundedDistricts.csv', encoding= 'unicode_escape')
districts.columns

Index(['School Year', 'School District BEDS Code', 'School District Name',
       'General Fund Total Expenditures & Transfers (State/Local)',
       'General Fund Total Expenditures & Transfers (Federal)',
       'General Fund Total Expenditures & Transfers (Total Spending)',
       'Special Aid Fund Total Expenditures & Transfers (State/Local)',
       'Special Aid Fund Total Expenditures & Transfers (Federal)',
       'Special Aid Fund Total Expenditures & Transfers (Total Spending)',
       'School Food Services Fund Total Expenditures & Transfers (State/Local)',
       ...
       '(Part D) Total District 4-Year-Old Full-Day Pre-K Enrollment with CBOs',
       '(Part D) Total District 4-Year-Old Half-Day Pre-K Enrollment with CBOs',
       '(Part D) Total District 3-Year-Old Full-Day Pre-K Enrollment with CBOs',
       '(Part D) Total District 3-Year-Old Half-Day Pre-K Enrollment with CBOs',
       '(Part D) Total District Pre-K Enrollment with CBOs',
       '(Part D) Total District Pre-K Spending - State Grants',
       '(Part D) Total District Pre-K Spending - Other State & Local Funding',
       '(Part D) Total District Pre-K Spending - Federal Funding',
       '(Part D) Total District Pre-K Spending - Total Spending',
       '(Part E) Are schools allocated a sizeable portion of their funding via a locally implemented formula?'],
      dtype='object', length=207)

In [3]:
districts

,School Year,School District BEDS Code,School District Name,General Fund Total Expenditures & Transfers (State/Local),General Fund Total Expenditures & Transfers (Federal),General Fund Total Expenditures & Transfers (Total Spending),Special Aid Fund Total Expenditures & Transfers (State/Local),Special Aid Fund Total Expenditures & Transfers (Federal),Special Aid Fund Total Expenditures & Transfers (Total Spending),School Food Services Fund Total Expenditures & Transfers (State/Local),...,(Part D) Total District 4-Year-Old Full-Day Pre-K Enrollment with CBOs,(Part D) Total District 4-Year-Old Half-Day Pre-K Enrollment with CBOs,(Part D) Total District 3-Year-Old Full-Day Pre-K Enrollment with CBOs,(Part D) Total District 3-Year-Old Half-Day Pre-K Enrollment with CBOs,(Part D) Total District Pre-K Enrollment with CBOs,(Part D) Total District Pre-K Spending - State Grants,(Part D) Total District Pre-K Spending - Other State & Local Funding,(Part D) Total District Pre-K Spending - Federal Funding,(Part D) Total District Pre-K Spending - Total Spending,(Part E) Are schools allocated a sizeable portion of their funding via a locally implemented formula?
0,2019-20,10100,Albany,"243,207,994",0,"243,207,994","10,965,681","9,821,686","20,787,367",0,...,573,7,216,0,796,"3,454,094","929,729",0,"$4,383,823",No
1,2019-20,10306,Bethlehem,"100,659,000","170,000","100,829,000","1,022,000","1,231,324","2,253,324","1,245,000",...,0,0,0,0,0,0,0,0,$0,No
2,2019-20,10402,Ravena-Coeymans-Selkirk,"48,062,317",0,"48,062,317","718,598","814,371","1,532,969","796,000",...,0,77,0,0,77,"191,945",0,0,"$191,945",No
3,2019-20,10500,Cohoes,"44,021,348","295,000","44,316,348","1,216,611","1,287,629","2,504,240","295,344",...,90,0,54,0,144,"864,750",0,0,"$864,750",No
4,2019-20,10601,South Colonie,"104,729,374","150,000","104,879,374","1,756,618","2,033,128","3,789,746","1,236,797",...,0,144,0,0,144,"386,878","323,931",0,"$710,809",No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2019-20,662101,Somers,"93,677,220",0,"93,677,220",0,"2,265,995","2,265,995","1,104,812",...,0,0,0,0,0,0,0,0,$0,No
302,2019-20,662200,White Plains,"226,588,508",0,"226,588,508","1,942,292","6,362,505","8,304,797","1,815,800",...,191,100,0,0,291,"1,942,292",0,0,"$1,942,292",No
303,2019-20,662300,Yonkers,"592,015,094","814,900","592,829,994","35,011,307","22,081,754","57,093,061","12,120,835",...,"1,526",0,136,0,"1,662","10,584,417","8,342,051",0,"$18,926,468",No
304,2019-20,662401,Lakeland,"174,820,235","50,000","174,870,235","1,392,247","1,816,252","3,208,499","2,242,473",...,0,71,0,0,71,"192,247",0,0,"$192,247",No
305,2019-20,662402,Yorktown,"98,175,000",0,"98,175,000","187,628","2,099,250","2,286,878","1,250,251",...,0,0,0,0,0,0,0,0,$0,No

In [4]:
# Isolate needed columns

nydistricts = districts[['School District Name','General Fund Total Expenditures & Transfers (Federal)']]
nydistricts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 2 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   School District Name                                   306 non-null    object
 1   General Fund Total Expenditures & Transfers (Federal)  306 non-null    object
dtypes: object(2)
memory usage: 4.9+ KB

In [5]:
# Update columns to match District Names

nydistricts['School District Name'] = nydistricts['School District Name'].str.upper()
nydistricts.rename(columns = {'School District Name' : 'DistrictName'}, inplace = True)
nydistricts.rename(columns = {'General Fund Total Expenditures & Transfers (Federal)' : 'FederallyFunded'}, inplace = True)
nydistricts = nydistricts.replace(',','', regex = True)
nydistricts.head()

C:\Users\Yiqing Guo\AppData\Local\Temp\ipykernel_3136\3369557346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nydistricts['School District Name'] = nydistricts['School District Name'].str.upper()
C:\Users\Yiqing Guo\AppData\Local\Temp\ipykernel_3136\3369557346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nydistricts.rename(columns = {'School District Name' : 'DistrictName'}, inplace = True)
C:\Users\Yiqing Guo\AppData\Local\Temp\ipykernel_3136\3369557346.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nydistricts.rename(columns = {'General Fund Total Expenditures & Transfers (Federal)' : 'FederallyFunded'}, inplace = True)

              DistrictName FederallyFunded
0                   ALBANY               0
1                BETHLEHEM          170000
2  RAVENA-COEYMANS-SELKIRK               0
3                   COHOES          295000
4            SOUTH COLONIE          150000

In [6]:
# reading in web scraped dataset
districtinfo = pd.read_csv('../Datasets/PreliminaryDistrictDataNYCDistrictsFunding3.csv')

In [7]:
# updating district names in districtinfo and saving for later
# this is data cleaning to match district names with the PowerBI map json naming conventions
districtinfo = districtinfo.replace('CITY SCHOOL DISTRICT','CITY SD', regex = True)
districtinfo = districtinfo.replace('COMMON SCHOOL DISTRICT','COMN SD', regex = True)
districtinfo = districtinfo.replace('CENTRAL HS DISTRICT','CENTRAL SCHOOL DISTRICT',regex = True)
districtname = districtinfo['DistrictName']

In [8]:
# Update columns to match District Names for merging
districtinfo = districtinfo.replace('CSD','', regex = True)
districtinfo = districtinfo.replace('UFSD','', regex = True)
districtinfo = districtinfo.replace('CITY SD','', regex = True)
districtinfo = districtinfo.replace('COMN SD','', regex = True)
districtinfo = districtinfo.replace('CENTRAL SCHOOL DISTRICT','',regex = True)
districtinfo = districtinfo.replace(' ','', regex = True)
districtinfo.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,DistrictName,GraduationPercentageRate,DropoutPercentageRate,FundingPerStudent,TotalEnrolled,MalesEnrolled,FemalesEnrolled,Percentage of Minority Students,HouseholdIncome
0,0,0,0,ADDISON,90,3,23833.02,976,503,473,3.2,59328.000000
1,1,1,1,ADIRONDACK,92,5,14013.61,1145,575,570,1.7,63986.357143
2,2,2,2,AFTON,83,10,24128.02,507,262,245,8.9,54818.285714
3,3,3,3,AKRON,95,3,17552.56,1334,667,667,17.5,76903.750000
4,4,4,4,ALBANY,71,12,22382.65,8610,4444,4166,80.2,61049.181818

In [9]:
#Merge dataframes

mergeddf = pd.merge(districtinfo, nydistricts, on = 'DistrictName', how = 'left')
mergeddf.FederallyFunded.unique()

array([nan, '0', '275000', '100000', '2070942', '170000', '300000',
       '1100000', '150000', '2600000', '55102', '136000', '22750',
       '50000', '295000', '500000', '320000', '20000', '550000', '250000',
       '617756', '125000', '766374', '475000', '90000', '262209', '12499',
       '29986725', '155000', '75000', '400000', '390000', '213586',
       '265000', '35000', '40500', '60000', '600000', '175000', '747700',
       '26000', '1450000', '345333', '200000', '65000', '80000', '380000',
       '78324', '62500', '45000', '814900', '82500'], dtype=object)

In [10]:
# reapply previous naming convention
mergeddf['DistrictName']=districtname
mergeddf.head(24)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,DistrictName,GraduationPercentageRate,DropoutPercentageRate,FundingPerStudent,TotalEnrolled,MalesEnrolled,FemalesEnrolled,Percentage of Minority Students,HouseholdIncome,FederallyFunded
0,0,0,0,ADDISON CSD,90,3,23833.02,976,503,473,3.2,59328.000000,NaN
1,1,1,1,ADIRONDACK CSD,92,5,14013.61,1145,575,570,1.7,63986.357143,0
2,2,2,2,AFTON CSD,83,10,24128.02,507,262,245,8.9,54818.285714,NaN
3,3,3,3,AKRON CSD,95,3,17552.56,1334,667,667,17.5,76903.750000,NaN
4,4,4,4,ALBANY CITY SD,71,12,22382.65,8610,4444,4166,80.2,61049.181818,0
5,5,5,5,ALBION CSD,85,11,15094.95,1781,887,894,25.5,60784.285714,NaN
6,6,6,6,ALDEN CSD,96,1,16574.76,1581,783,798,4.2,80543.777778,0
7,7,7,7,ALEXANDER CSD,95,2,19435.51,787,378,409,6.5,67828.571429,NaN
8,8,8,8,ALEXANDRIA CSD,88,5,21219.66,472,232,240,5.3,55344.500000,NaN
9,9,9,9,ALFRED-ALMOND CSD,100,0,18461.16,601,329,272,9.7,51929.285714,NaN
10,10,10,10,ALLEGANY-LIMESTONE CSD,87,4,16367.35,1103,574,529,8.1,49249.800000,NaN
11,11,11,11,ALTMAR-PARISH-WILLIAMSTOWN CSD,82,9,23307.26,1067,537,530,6.4,62701.600000,NaN
12,12,12,12,AMAGANSETT UFSD,—,—,97583.80,64,30,34,39.1,114088.666667,NaN
13,13,13,13,AMHERST CSD,93,1,15755.19,2925,1516,1409,33.1,69733.666667,0
14,14,14,14,AMITYVILLE UFSD,85,7,23455.51,2997,1594,1403,95.4,109412.000000,0
15,15,15,15,AMSTERDAM CITY SD,84,6,17207.22,3586,1838,1748,59.3,65237.571429,0
16,16,16,16,ANDES CSD,100,0,38857.67,65,35,30,10.8,56633.857143,NaN
17,17,17,17,ANDOVER CSD,89,4,24277.59,278,127,151,2.9,49658.600000,NaN
18,18,18,18,ARDSLEY UFSD,97,0,25178.37,2325,1257,1068,42.5,158208.714286,NaN
19,19,19,19,ARGYLE CSD,86,11,23262.18,463,233,230,5.4,62666.250000,NaN
20,20,20,20,ARKPORT CSD,100,0,19505.93,459,241,218,6.1,57429.400000,NaN
21,21,21,21,ARLINGTON CSD,91,3,21035.77,7963,3966,3997,34.4,90955.714286,0
22,22,22,22,ATTICA CSD,91,2,20326.08,1160,574,586,4.7,66734.222222,NaN
23,23,23,23,AUBURN CITY SD,76,12,15909.72,4106,2124,1982,23.0,51517.000000,275000

In [11]:
#Update row values to reflect Yes or No

def federalfund(num):
    if num == 0:
        return "No"
    elif num > 0:
        return "Yes"
    else:
        return num
    
mergeddf['FederallyFunded'] = mergeddf['FederallyFunded'].replace(',','', regex = True).apply(lambda x: federalfund(float(x)))

In [12]:
mergeddf.head(24)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,DistrictName,GraduationPercentageRate,DropoutPercentageRate,FundingPerStudent,TotalEnrolled,MalesEnrolled,FemalesEnrolled,Percentage of Minority Students,HouseholdIncome,FederallyFunded
0,0,0,0,ADDISON CSD,90,3,23833.02,976,503,473,3.2,59328.000000,NaN
1,1,1,1,ADIRONDACK CSD,92,5,14013.61,1145,575,570,1.7,63986.357143,No
2,2,2,2,AFTON CSD,83,10,24128.02,507,262,245,8.9,54818.285714,NaN
3,3,3,3,AKRON CSD,95,3,17552.56,1334,667,667,17.5,76903.750000,NaN
4,4,4,4,ALBANY CITY SD,71,12,22382.65,8610,4444,4166,80.2,61049.181818,No
5,5,5,5,ALBION CSD,85,11,15094.95,1781,887,894,25.5,60784.285714,NaN
6,6,6,6,ALDEN CSD,96,1,16574.76,1581,783,798,4.2,80543.777778,No
7,7,7,7,ALEXANDER CSD,95,2,19435.51,787,378,409,6.5,67828.571429,NaN
8,8,8,8,ALEXANDRIA CSD,88,5,21219.66,472,232,240,5.3,55344.500000,NaN
9,9,9,9,ALFRED-ALMOND CSD,100,0,18461.16,601,329,272,9.7,51929.285714,NaN
10,10,10,10,ALLEGANY-LIMESTONE CSD,87,4,16367.35,1103,574,529,8.1,49249.800000,NaN
11,11,11,11,ALTMAR-PARISH-WILLIAMSTOWN CSD,82,9,23307.26,1067,537,530,6.4,62701.600000,NaN
12,12,12,12,AMAGANSETT UFSD,—,—,97583.80,64,30,34,39.1,114088.666667,NaN
13,13,13,13,AMHERST CSD,93,1,15755.19,2925,1516,1409,33.1,69733.666667,No
14,14,14,14,AMITYVILLE UFSD,85,7,23455.51,2997,1594,1403,95.4,109412.000000,No
15,15,15,15,AMSTERDAM CITY SD,84,6,17207.22,3586,1838,1748,59.3,65237.571429,No
16,16,16,16,ANDES CSD,100,0,38857.67,65,35,30,10.8,56633.857143,NaN
17,17,17,17,ANDOVER CSD,89,4,24277.59,278,127,151,2.9,49658.600000,NaN
18,18,18,18,ARDSLEY UFSD,97,0,25178.37,2325,1257,1068,42.5,158208.714286,NaN
19,19,19,19,ARGYLE CSD,86,11,23262.18,463,233,230,5.4,62666.250000,NaN
20,20,20,20,ARKPORT CSD,100,0,19505.93,459,241,218,6.1,57429.400000,NaN
21,21,21,21,ARLINGTON CSD,91,3,21035.77,7963,3966,3997,34.4,90955.714286,No
22,22,22,22,ATTICA CSD,91,2,20326.08,1160,574,586,4.7,66734.222222,NaN
23,23,23,23,AUBURN CITY SD,76,12,15909.72,4106,2124,1982,23.0,51517.000000,Yes

In [13]:
# Make sure NYC districts have correct values

mergeddf[mergeddf['DistrictName'].str.contains('NYC')]

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,DistrictName,GraduationPercentageRate,DropoutPercentageRate,FundingPerStudent,TotalEnrolled,MalesEnrolled,FemalesEnrolled,Percentage of Minority Students,HouseholdIncome,FederallyFunded
441,441,441,448,NYC GEOG DIST # 1 - MANHATTAN,68,8,19153.22,10473,5481,4992,81.6,77936.000000,NaN
442,442,442,449,NYC GEOG DIST # 2 - MANHATTAN,81,5,15883.91,59568,28456,31112,73.4,127275.961538,NaN
443,443,443,450,NYC GEOG DIST # 3 - MANHATTAN,81,3,16663.02,21132,9599,11533,66.5,104303.666667,NaN
444,444,444,451,NYC GEOG DIST # 4 - MANHATTAN,85,4,21385.49,11510,5594,5916,95.0,31104.500000,NaN
445,445,445,452,NYC GEOG DIST # 5 - MANHATTAN,74,5,23248.48,9332,4954,4378,93.6,50067.000000,NaN
446,446,446,453,NYC GEOG DIST # 6 - MANHATTAN,75,5,20480.90,19124,9709,9415,94.4,55738.500000,NaN
447,447,447,454,NYC GEOG DIST # 7 - BRONX,69,9,22088.49,16318,8639,7679,98.5,36670.800000,NaN
448,448,448,455,NYC GEOG DIST # 8 - BRONX,66,13,20068.55,24613,12660,11953,94.4,44250.000000,NaN
449,449,449,456,NYC GEOG DIST # 9 - BRONX,74,9,20785.08,29653,14989,14664,98.7,32099.750000,NaN
450,450,450,457,NYC GEOG DIST #10 - BRONX,80,7,18515.51,49381,25187,24194,94.1,47554.000000,NaN
451,451,451,458,NYC GEOG DIST #11 - BRONX,75,8,17704.26,35438,18643,16795,91.1,59079.600000,NaN
452,452,452,459,NYC GEOG DIST #12 - BRONX,63,12,20174.92,19427,10007,9420,98.6,36342.333333,NaN
453,453,453,460,NYC GEOG DIST #13 - BROOKLYN,90,2,16254.63,19994,10672,9322,82.8,100631.600000,NaN
454,454,454,461,NYC GEOG DIST #14 - BROOKLYN,82,5,19282.51,16583,8684,7899,85.1,70139.600000,NaN
455,455,455,462,NYC GEOG DIST #15 - BROOKLYN,71,5,18079.91,29846,14881,14965,69.9,95562.125000,NaN
456,456,456,463,NYC GEOG DIST #16 - BROOKLYN,60,5,24918.87,5425,2891,2534,97.3,54048.000000,NaN
457,457,457,464,NYC GEOG DIST #17 - BROOKLYN,74,6,19294.66,19019,9361,9658,96.9,62593.000000,NaN
458,458,458,465,NYC GEOG DIST #18 - BROOKLYN,67,6,20378.87,12417,6499,5918,96.6,53702.333333,NaN
459,459,459,466,NYC GEOG DIST #19 - BROOKLYN,79,6,20178.57,19389,10230,9159,97.9,39264.333333,NaN
460,460,460,467,NYC GEOG DIST #20 - BROOKLYN,76,7,15814.70,49535,25915,23620,75.5,63385.714286,NaN
461,461,461,468,NYC GEOG DIST #21 - BROOKLYN,77,6,16986.32,33868,17379,16489,67.6,53230.833333,NaN
462,462,462,469,NYC GEOG DIST #22 - BROOKLYN,85,3,16774.61,31931,16127,15804,67.4,67778.142857,NaN
463,463,463,470,NYC GEOG DIST #23 - BROOKLYN,52,12,23142.85,7714,4315,3399,98.7,38831.500000,NaN
464,464,464,471,NYC GEOG DIST #24 - QUEENS,80,5,16393.21,54124,28429,25695,86.8,73961.000000,NaN
465,465,465,472,NYC GEOG DIST #25 - QUEENS,76,5,16025.35,35583,18163,17420,88.7,67681.300000,NaN
466,466,466,473,NYC GEOG DIST #26 - QUEENS,92,3,14190.81,30802,15826,14976,84.7,89223.333333,NaN
467,467,467,474,NYC GEOG DIST #27 - QUEENS,76,10,17641.03,40675,21347,19328,90.0,74852.769231,NaN
468,468,468,475,NYC GEOG DIST #28 - QUEENS,84,5,15026.48,38378,19482,18896,84.4,72971.666667,NaN
469,469,469,476,NYC GEOG DIST #29 - QUEENS,77,6,16852.11,23776,12395,11381,98.2,80180.090909,NaN
470,470,470,477,NYC GEOG DIST #30 - QUEENS,86,4,16113.61,36697,18539,18158,83.4,72604.272727,NaN
471,471,471,478,NYC GEOG DIST #31 - STATEN ISLAND,84,4,18970.34,57787,29605,28182,55.6,86134.583333,NaN
472,472,472,479,NYC GEOG DIST #32 - BROOKLYN,75,8,20978.36,9850,5045,4805,97.6,52066.000000,NaN
473,473,473,481,NYC SPEC SCHOOLS - DIST 75,—,—,6091.88,25358,18632,6726,87.3,NaN,NaN

In [14]:
#Update NYC Districts to be federally funded

one = 0

for i in range (441,473):

    mergeddf.at[i, 'FederallyFunded'] = 'Yes'

    one = one + 1

In [15]:
# clean GraduationPercentageRate and DropoutPercentageRate by converting to float
# to_numeric(errors="coerce") changes dashes into NaN values
mergeddf['GraduationPercentageRate'] = pd.to_numeric(mergeddf['GraduationPercentageRate'], errors='coerce')
mergeddf['DropoutPercentageRate'] = pd.to_numeric(mergeddf['DropoutPercentageRate'], errors='coerce')
mergeddf

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,DistrictName,GraduationPercentageRate,DropoutPercentageRate,FundingPerStudent,TotalEnrolled,MalesEnrolled,FemalesEnrolled,Percentage of Minority Students,HouseholdIncome,FederallyFunded
0,0,0,0,ADDISON CSD,90.0,3.0,23833.02,976,503,473,3.2,59328.000000,NaN
1,1,1,1,ADIRONDACK CSD,92.0,5.0,14013.61,1145,575,570,1.7,63986.357143,No
2,2,2,2,AFTON CSD,83.0,10.0,24128.02,507,262,245,8.9,54818.285714,NaN
3,3,3,3,AKRON CSD,95.0,3.0,17552.56,1334,667,667,17.5,76903.750000,NaN
4,4,4,4,ALBANY CITY SD,71.0,12.0,22382.65,8610,4444,4166,80.2,61049.181818,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,714,714,728,WYOMING CSD,NaN,NaN,28167.77,128,70,58,2.3,62790.500000,NaN
715,715,715,729,YONKERS CITY SD,91.0,3.0,18820.45,24633,12524,12109,84.5,94866.444444,Yes
716,716,716,730,YORK CSD,97.0,2.0,19869.81,688,377,311,5.4,61273.500000,NaN
717,717,717,731,YORKSHIRE-PIONEER CSD,89.0,6.0,17445.73,2307,1196,1111,5.0,58648.466667,Yes
718,718,718,732,YORKTOWN CSD,97.0,1.0,24424.21,3401,1775,1626,27.8,115881.166667,No

In [16]:
mergeddf.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'DistrictName',
       'GraduationPercentageRate', 'DropoutPercentageRate',
       'FundingPerStudent', 'TotalEnrolled', 'MalesEnrolled',
       'FemalesEnrolled', 'Percentage of Minority Students', 'HouseholdIncome',
       'FederallyFunded'],
      dtype='object')

In [17]:
mergeddf.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.2'], axis = 1, inplace = True)

In [18]:
mergeddf.columns

Index(['DistrictName', 'GraduationPercentageRate', 'DropoutPercentageRate',
       'FundingPerStudent', 'TotalEnrolled', 'MalesEnrolled',
       'FemalesEnrolled', 'Percentage of Minority Students', 'HouseholdIncome',
       'FederallyFunded'],
      dtype='object')

In [19]:
mergeddf.to_csv('../Datasets/DistrictDataCleaned.csv')

In [22]:
# sql dump
mergeddf = mergeddf[['DistrictName','FederallyFunded']]
mergeddf = mergeddf.dropna()
mergeddf.to_csv('../SQL/federallyfunded-districtname')